include AUTHORS.rst
include CHANGELOG.rst
include LICENSE
include README.rst
include setup.cfg

recursive-include nobot/templates *

recursive-exclude * *.pyc
recursive-exclude * *.pyo
global-exclude .DS_Store
